
.form-container1{
    background-color: black;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 8px;
    max-width: 26%;
    margin: auto;
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
form{
    display: flex;
    outline: none;
    width: 90%;
    flex-direction: column;
    gap: 20px;

}
.userform{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 254, 254);
    border-bottom: 2px solid red;
    letter-spacing: .5px;
    margin: 0;
}
.userformdiv{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

form input{
    border:1px solid red;
    border-radius: 4px;
    padding: 10px;
}
.submit{
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .5px;
    background-color: red;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
}
.form-row{
    display: flex;
    flex-direction: column;
}
.clienterr{
    color: red;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
}

table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    margin: auto;
    padding: 8px;
    height: 15px;
    width: 60vw;
    
}
.table-container{
    padding: 50px;
}
.btn-div{
    display: flex;
    gap: 10px;
    margin-left: 50px;
}
.text-div{
    display: flex;
    gap: 11px;
    flex-direction: column;
    
}
.text-div h4{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
}
.muted{
    color: rgba(128, 128, 128, 0.562);
    font-size: 11px;
}
#viewuser{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}
.line{
    width: 2px;
    height: 170px;
    background-color:rgb(233, 233, 233);
}
img{
    width: 100%;
}
.img-div{
    width: 200px;
}
.container1{
    border: 1px solid black;
    width: 55%;
    padding: 7px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 8px;

}

.h1-container{
    display: flex;
    justify-content: center;
}
.btn1{
    background-color: rgba(0, 0, 255, 0.637);
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    letter-spacing: .7px;
    margin-right: 4px;
    width: 80px;
    height: 63px;
    font-size: 16px;
}
#red-btn{
    background-color: rgba(255, 0, 0, 0.616);
}
#btn-red{
    margin-top: 20px;
    background-color: red;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    letter-spacing: .7px;
    margin-right: 4px;
}
.btn{
    border: 2px solid rgb(0, 47, 255);
    background-color: transparent;
    font-size: 18px;
    width: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 4px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}
.btn:hover{
    background-color: blue;
    color: white;
}
.form-container{
    width: 30vw;
    margin: auto;
}
.h1-container h1{
    font-size: 32px;
    font-weight: 700;
    color: rgb(116, 116, 116);
    letter-spacing: .5px;
    border-bottom: 2px solid blue;

}